body {
        font-family: 'Quicksand', sans-serif;
        background-color: #000;

}

header.glowna {
        background-image: url(tlo.jpg);
        height: 100vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
}

.navbar {

        font-size: 22px;
        font-weight: 500;

}

.divider {
        border-bottom: solid 2px #979797;
}

footer {
        background: rgb(0, 0, 0);
}


.nav-link {
        transition: scale 0.8s ease-in-out;
}

.nav-link:hover {
        transform: scale(0.9) !important;
}

.navbar-brand {
        font-size: 26px;
        font-weight: 500;
}

.bg-dark {
        background-color: transparent !important;
}

.bg-dark.scrolled {
        background-color: black !important;


}

.mt-6 {
        margin-top: 200px !important;
}

.fixed-top {
        background-color: #000 !important;
        padding-bottom: 1rem;
}

.karta2 {
        background-color: black;
}

.karta3 {
        background-color: black;
}

.naglowek {
        font-size: 2.4rem;
}

.portfolio {
        background-color: #000;
}

.strona {
        height: 360px;
        width: 100%;

}



.zdj
{
       
        overflow: hidden;
        transition: all 0.4s ease-in-out;
}

.zdj:hover
{
        transform: scale(1.03);
        
}





#shadow {
        text-shadow: -4px -12px 12px #979797;
}

.rotate-in-2-ccw:hover {
        -webkit-animation: rotate-in-2-ccw 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: rotate-in-2-ccw 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

}

@-webkit-keyframes rotate-in-2-ccw {
        0% {
                -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
                opacity: 0;
        }

        100% {
                -webkit-transform: rotate(0);
                transform: rotate(0);
                opacity: 1;
        }
}

@keyframes rotate-in-2-ccw {
        0% {
                -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
                opacity: 0;
        }

        100% {
                -webkit-transform: rotate(0);
                transform: rotate(0);
                opacity: 1;
        }
}





.shake-horizontal:hover {
        -webkit-animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
        animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

@-webkit-keyframes shake-horizontal {

        0%,
        100% {
                -webkit-transform: translateX(0);
                transform: translateX(0);
        }

        10%,
        30%,
        50%,
        70% {
                -webkit-transform: translateX(-10px);
                transform: translateX(-10px);
        }

        20%,
        40%,
        60% {
                -webkit-transform: translateX(10px);
                transform: translateX(10px);
        }

        80% {
                -webkit-transform: translateX(8px);
                transform: translateX(8px);
        }

        90% {
                -webkit-transform: translateX(-8px);
                transform: translateX(-8px);
        }
}

@keyframes shake-horizontal {

        0%,
        100% {
                -webkit-transform: translateX(0);
                transform: translateX(0);
        }

        10%,
        30%,
        50%,
        70% {
                -webkit-transform: translateX(-10px);
                transform: translateX(-10px);
        }

        20%,
        40%,
        60% {
                -webkit-transform: translateX(10px);
                transform: translateX(10px);
        }

        80% {
                -webkit-transform: translateX(8px);
                transform: translateX(8px);
        }

        90% {
                -webkit-transform: translateX(-8px);
                transform: translateX(-8px);
        }
}

.chlop {

        background-color: black;
        background-repeat: no-repeat;
        background-position: left bottom;
        width: 100%;
}

#chlop img {
        height: 150px;
        width: 190px;
}

.omnie {
        font-size: 2.4rem;
}

.slide-in-right {
        -webkit-animation: slide-in-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.7s both;
        animation: slide-in-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.7s both;
}

@-webkit-keyframes slide-in-right {
        0% {
                -webkit-transform: translateX(1000px);
                transform: translateX(1000px);
                opacity: 0;
        }

        100% {
                -webkit-transform: translateX(0);
                transform: translateX(0);
                opacity: 1;
        }
}

@keyframes slide-in-right {
        0% {
                -webkit-transform: translateX(1000px);
                transform: translateX(1000px);
                opacity: 0;
        }

        100% {
                -webkit-transform: translateX(0);
                transform: translateX(0);
                opacity: 1;
        }
}